## Instituto Tecnológico de Costa Rica

## Escuela de Ingeniería Electrónica
### Taller de Instrumentación

# Investigación Previa Lab. 3 (Parte II)

### Integrantes:
- Oscar Andrés Rojas Fonseca
- Sharon Valverde Jiménez
- Sebastián Vega Cerdas 

### Profesor:
MSc. Ing. Kaleb Alfaro Badilla


# Investigación Previa
## Laboratorio 3 (Parte II)

### 1. Investigue ¿Qué es una base de datos SQL o NoSQL? Elabore un listado de comandos básicos para una base de datos SQL.

Una base de datos **SQL** (*Structured Query Language*) se trata de una base de datos relacional la cual se encuentra estructurad mediante tablas con registros (filas) y campos (columnas). Cuenta con un lenguaje que permite establecer, modificar y borrar las relaciones entre los datos, lo cual permite que las consultas de información de manera clara y sencilla, además de permitir cambios flexibles y versátiles.

La base de datos **NoSQL** (*Not only SQL*) es no relacional, de manera que no agrega identificador que relacione datos con otros. En este caso los datos no se manipulan mediante tablas, se organizan mediante documentos, por lo que se agregan o modifican datos sin necesidad de hacer configuraciones, de manera que se prefieren para usos más dinámicos.

<center>
<img src="./images/SQLvsNoSQL.png" width="600" />
</center>

### Comandos básicos de SQL
- *SELECT*: Especifíca con que columna se desea trabajar.
- *LIMIT*: Limita el número de líneas que son regresadas desde la tabla.
- *AS*: Renombra una columna o tabla al obtenerla del resultado.
- *SELECT DISTINCT*: Elimina duplicados en líneas o columnas.
- *COUNT*: Regresa el número de filas en una tabla.
- *MIN*: Regresa el mínimo valor en una columna.
- *MAX*: Regresa el máximo valor en una columna.
- *SUM*: Regresa la suma de los valores.
- *AVERAGE*: Calcula la media aritmética de la columna.
- *WHERE*: Regresa las filas que cumplen con alguna condición.
- *HAVING*: Similar a WHERE, pero condiciona lo que este no puede.
- *AND*: Filtra filas que cumplen con varias condiciones.
- *OR*: Filtra filas que cumplen con alguna de las condiciones.
- *BETWEEN*: Filtra filas que se encuentran en un rango de valores.
- *IN*: Funciona como OR de varias condiciones.
- *LIKE*: Permite buscar patrones de texto en columnas.
- *GROUP BY*: Permite agrupar filas basadas en valores de columna.
- *ORDER BY*: Permite ordenar filas basadas en valores de columna.
- *UPDATE*: Cambia los valores de celdas específicas de la tabla.
- *ALTER TABLE*: Permite cambiar propiedades de la tabla y sus columnas.
- *CREATE TABLE*: Crea una nueva tabla en la base de datos.
- *INSERT INTO*: Agrega nuevas filas a la tabla.
- *INNER JOIN*: Selecciona filas que tienen valores similares en tablas diferentes.
- *LEFT JOIN*: Mantiene los valores de la tabla izquierda y devuelve los valores faltantes para cualquier columna de la tabla de la derecha donde el campo no encontró una coincidencia.
- *RIGHT JOIN*: Mantiene los valores de la tabla derecha y devuelve los valores faltantes para cualquier columna de la tabla de la izquierda donde el campo no encontró una coincidencia.

### 2. Investigue y practique de manera local la creación y uso de una base de datos SQL por medio de Python/labVIEW.

ABABABABABABABABABABAB

## Tutorial de la investigación previa

In [1]:
import sqlite3

con = sqlite3.connect("tutorial.db")
cur = con.cursor()

cur.execute("CREATE TABLE movie(title, year, score)")

OperationalError: table movie already exists

In [8]:
res = cur.execute("SELECT name FROM sqlite_master")
print(res.fetchone())

res = cur.execute("SELECT name FROM sqlite_master WHERE name='space'")
print(res.fetchone())

('movie',)
None

In [9]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")
con.commit()

In [10]:
res = cur.execute("SELECT score from movie")
print(res.fetchall())

[(8.2,), (7.5,)]

In [11]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [12]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

In [14]:
con.close()
new_cor = sqlite3.connect("tutorial.db")
new_cur = new_cor.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res.fetchone()
print(f'The highest scoring Monty Python movie is {title!r}, released in {year}')

The highest scoring Monty Python movie is 'Monty Python and the Holy Grail', released in 1975

## Referencias
- Problema 1
- https://ayudaleyprotecciondatos.es/bases-de-datos/sql/
- https://www.ilimit.com/blog/base-de-datos-sql-nosql/
- https://www.geeksforgeeks.org/sql-vs-nosql-which-one-is-better-to-use/
- Datacamp SQL Commands Glossary—An Overview of 25 Most Popular SQL Commands (Jul 2022)

- Problema 2
- a
- a